*.swp
.DS_Store
/.CFUserTextEncoding
/.Trash
/.cargo
/.cocoapods
/.eyrc
/.gem
/.heroku
/.history
/.itmstransporter
/.netrc
/.rnd
/.rubies
/.ssh
/Applications
/Desktop
/Documents
/Downloads
/Library
/Movies
/Music
/Pictures
/Public
/projects
/src
/tmp
