[user]
	name = Ryan Bergeman
	email = code@ryanbergeman.com
[alias]
	amend = commit --amend --verbose
	ap = add --patch
	ch = checkout
	co = commit --verbose
	dc = diff --cached
	di = diff
	ff = merge --ff-only
	gl = log --extended-regexp --regexp-ignore-case --grep
	lg = log --abbrev-commit --decorate=short --graph --pretty=oneline
	st = status --branch --short
[color]
	ui = auto
[fetch]
	prune = true
[push]
	default = simple
